.movie-card {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f7;
  padding: 15px;
  border-radius: 12px;
  gap: 10px;
}
.title {
  font-size: 20px;
  font-weight: 600;
}
.overview {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.release-date {
  font-weight: 500;
}
